<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{916,487}</string>
                <key>spriteSourceSize</key>
                <string>{916,487}</string>
                <key>textureRect</key>
                <string>{{0,70},{916,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playMethod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1002,533}</string>
                <key>spriteSourceSize</key>
                <string>{1002,533}</string>
                <key>textureRect</key>
                <string>{{916,70},{1002,533}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareNow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,70}</string>
                <key>spriteSourceSize</key>
                <string>{273,70}</string>
                <key>textureRect</key>
                <string>{{1063,0},{273,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,70}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{559,0},{250,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talkLatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,70}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{59,0},{250,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,45}</string>
                <key>spriteSourceSize</key>
                <string>{254,45}</string>
                <key>textureRect</key>
                <string>{{809,0},{254,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,70}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{309,0},{250,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1918,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a29ae588ed6135c639aa35d1007447be:1e54b46f6d1399d5d9fcd1ad0a5d35ab:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
