<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cannot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,70}</string>
                <key>spriteSourceSize</key>
                <string>{175,70}</string>
                <key>textureRect</key>
                <string>{{1024,0},{175,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>direct.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,53}</string>
                <key>spriteSourceSize</key>
                <string>{117,53}</string>
                <key>textureRect</key>
                <string>{{0,0},{117,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enterGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,70}</string>
                <key>spriteSourceSize</key>
                <string>{175,70}</string>
                <key>textureRect</key>
                <string>{{849,0},{175,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1097,147}</string>
                <key>spriteSourceSize</key>
                <string>{1097,147}</string>
                <key>textureRect</key>
                <string>{{0,91},{1097,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,750}</string>
                <key>spriteSourceSize</key>
                <string>{1500,750}</string>
                <key>textureRect</key>
                <string>{{0,238},{1500,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moreGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,91}</string>
                <key>spriteSourceSize</key>
                <string>{122,91}</string>
                <key>textureRect</key>
                <string>{{605,0},{122,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shake_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,91}</string>
                <key>spriteSourceSize</key>
                <string>{122,91}</string>
                <key>textureRect</key>
                <string>{{483,0},{122,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shake_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,91}</string>
                <key>spriteSourceSize</key>
                <string>{122,91}</string>
                <key>textureRect</key>
                <string>{{117,0},{122,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,91}</string>
                <key>spriteSourceSize</key>
                <string>{122,91}</string>
                <key>textureRect</key>
                <string>{{239,0},{122,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,91}</string>
                <key>spriteSourceSize</key>
                <string>{122,91}</string>
                <key>textureRect</key>
                <string>{{361,0},{122,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,91}</string>
                <key>spriteSourceSize</key>
                <string>{122,91}</string>
                <key>textureRect</key>
                <string>{{727,0},{122,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1500,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f86fa8f878dfe176284704068cce7e:205990de112e2a047f9e9ad0046dc54b:70c8faf287b801f42cfa7c57415c1cdf$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
