<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,61}</string>
                <key>spriteSourceSize</key>
                <string>{57,61}</string>
                <key>textureRect</key>
                <string>{{1144,753},{57,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,66}</string>
                <key>spriteSourceSize</key>
                <string>{139,66}</string>
                <key>textureRect</key>
                <string>{{862,753},{139,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{783,753},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blank_able.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{79,79}</string>
                <key>textureRect</key>
                <string>{{330,753},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gesture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,119}</string>
                <key>spriteSourceSize</key>
                <string>{109,119}</string>
                <key>textureRect</key>
                <string>{{120,753},{109,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,77}</string>
                <key>spriteSourceSize</key>
                <string>{172,77}</string>
                <key>textureRect</key>
                <string>{{609,753},{172,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1500,750}</string>
                <key>spriteSourceSize</key>
                <string>{1500,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1500,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onFile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,66}</string>
                <key>spriteSourceSize</key>
                <string>{139,66}</string>
                <key>textureRect</key>
                <string>{{1003,753},{139,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playMethodDemo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,77}</string>
                <key>spriteSourceSize</key>
                <string>{196,77}</string>
                <key>textureRect</key>
                <string>{{411,753},{196,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,117}</string>
                <key>spriteSourceSize</key>
                <string>{114,117}</string>
                <key>textureRect</key>
                <string>{{1,753},{114,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>startMoveBlank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,87}</string>
                <key>spriteSourceSize</key>
                <string>{87,87}</string>
                <key>textureRect</key>
                <string>{{241,753},{87,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1502,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71338b65d31d271187bc093f7d8545b6:3d5ffa6c0e9563b4675a86c487c915ba:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
